@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
.glow:hover {
  box-shadow: 0 0 30px rgba(255,255,255, 0.6);
}

.font-sans {
  font-family: Gilmer, 'Maven Pro', Arial, Helvetica, sans-serif,  sans-serif;
}

.circle-1{
  background-image: radial-gradient(rgba(209, 111, 151, 0.3), transparent, transparent);
}

.circle-2{
  background-image: radial-gradient(rgba(91, 128, 200, 0.3), transparent, transparent);
}